body {
  background-color: #9266ff!important;
}

.App {
  background-color: #3f3160;
  min-height: 500px;
  width: 400px;
  margin: 16px auto;
}

.title {
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);   
}

.projectHeader {
  color: #fff;
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

#add-task-bar input {
  background-color: rgb(27, 112, 137);
  border: 0;
  width: 256px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 15px;
  border-radius: 7px;
  color: #fff;
}

::placeholder {
  color: #fff;
}

#add-task-bar button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(202, 156, 24);
  cursor: pointer;
  font-weight: bolder;
  color:#fff;
}

.listComponent {
  max-height: 386px;
  overflow-y: scroll;
}

.profilepic {
  height: 30px;
  width:30px;
}

.offset {
  visibility: hidden;
}