body {
  background-color: #9266ff!important;
}

.App {
  background-color: #3f3160;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

.projectHeader {
  color: white;
}

#add-task-bar input {
  background-color: rgb(27, 112, 137);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 15px;
  border-radius: 7px;
  color: #fff;
}

::placeholder {
  color: #fff;
}

#add-task-bar button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(202, 156, 24);
  cursor: pointer;
  font-weight: bolder;
  color:#fff;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#7f00ff;
   color: white;
   text-align: center;
}

#teamheader {
  color: #fff;
  padding: 0px 20px;
  margin-top: 10px;
}


#membersDiv {
  margin-left: 83px;
}